@import 'tailwindcss';

@theme {
  --spacing: 2px;
}

@custom-variant dark (&:where([color-scheme=dark], [color-scheme=dark] *));

#app {
  margin: 0 auto;
  ul {
    list-style: none;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter';
}

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 0.3s ease;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}
