@import 'tailwindcss';

@theme {
  --spacing: 2px;
}

#app {
  margin: 0 auto;
  ul {
    list-style: none;
  }
}

html {
  font-size: 16px;
}

body {
  background: #191921;
  font-family: 'Roboto';
}

.active-link {
  text-decoration: underline;
}

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 0.3s ease;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}
